<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="onecode" sortOrder="10000" class="onecode-tab">
            <label>Onecode Extensions</label>
        </tab>
        <section id="shopflix" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="0">
            <class>separator-top</class>
            <label>ShopFlix</label>
            <tab>onecode</tab>
            <resource>Onecode_ShopFlixConnector::config_settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="100" showInStore="0" showInDefault="1"
                   showInWebsite="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                </field>

                <field id="to_order" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Convert to magento order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="auto_accept" translate="label" type="select" sortOrder="110"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Auto Accept Order</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Automatic acceptance of order if there is stock]]></comment>
                    <depends>
                        <field id="*/*/to_order">1</field>
                    </depends>
                </field>
                <field id="invoice" translate="label" type="select" sortOrder="120"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Invoice on acceptance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/to_order">1</field>
                    </depends>
                </field>
                <field id="api_url" translate="label,comment" type="text" sortOrder="400" showInStore="0"
                       showInDefault="1" showInWebsite="0">
                    <label>Api Url</label>
                    <validate>required-entry validate-url</validate>
                    <comment><![CDATA[Allows a valid URL. For example, https://www.example.com/api]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="username" translate="label" type="text" sortOrder="400" showInStore="0"
                       showInDefault="1" showInWebsite="0">
                    <label>Username</label>
                    <validate>required-entry validate-email</validate>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="400" showInStore="0"
                       showInDefault="1" showInWebsite="0">
                    <label>Api Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="supported_products" translate="label" type="multiselect" sortOrder="410" showInDefault="1"
                       showInWebsite="0" showInStore="1">
                    <label>Select products types</label>
                    <validate>required-entry</validate>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\SupportedProducts</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="time_modifier" translate="label,comment" type="select" sortOrder="401" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Time modifier</label>
                    <comment><![CDATA[This field is used to filter the orders we requested from the SHOPFLIX API]]></comment>
                    <validate>required-entry</validate>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\TimeModifiers</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="xml_setting" translate="label" type="text" sortOrder="110" showInStore="0" showInDefault="1">
                <label>Xml Configs</label>
                <depends>
                    <field id="*/settings/enable">1</field>
                </depends>
                <field id="enable" translate="label" type="select" sortOrder="90"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Generate Xml</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <model>Onecode\ShopFlixConnector\Model\Config\XmlUrlConfig</model>
                    </comment>
                    <validate>required-entry</validate>
                </field>
                <field id="mpn" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>MPN Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\AllAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>MPN attribute</strong>]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="ean" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>EAN Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\AllAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>EAN attribute</strong>]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>Title Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\TitleAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>Title attribute</strong>]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="description" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>Description Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\DescriptionAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>Description attribute</strong>]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="export_category_tree" translate="label" type="select" sortOrder="95"
                       showInStore="0" showInDefault="1" showInWebsite="0">
                    <label>Export Category Tree</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="manufacturer" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>Brand Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\BrandAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>Brand attribute</strong>]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="weight" translate="label" type="select" sortOrder="100"
                       showInStore="0" showInDefault="1" showInWebsite="1">
                    <label>Weight Attribute</label>
                    <source_model>Onecode\ShopFlixConnector\Model\Config\WeightAttribute</source_model>
                    <comment>
                        <![CDATA[Selecting the attribute where you have stored the <strong>Weight
                         attribute</strong>]]></comment>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <!-- Carrier Config Settings-->
        <!--     <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1"
                      showInStore="1">
                 <group id="onecode_shopflix_shipping" translate="label" type="text" sortOrder="2" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                     <label>ShopFlix Shipping Method</label>
                     <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                            showInStore="0" canRestore="1">
                         <label>Enabled</label>
                         <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     </field>
                     <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                            showInStore="1" canRestore="1">
                         <label>Title</label>
                     </field>
                     <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                            showInStore="1" canRestore="1">
                         <label>Method Name</label>
                     </field>
                     <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1"
                            showInWebsite="1" showInStore="1" canRestore="1">
                         <label>Displayed Error Message</label>
                     </field>
                     <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1"
                            showInWebsite="1" showInStore="0" canRestore="1">
                         <label>Ship to Applicable Countries</label>
                         <frontend_class>shipping-applicable-country</frontend_class>
                         <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                     </field>
                     <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1"
                            showInWebsite="1" showInStore="0" canRestore="1">
                         <label>Ship to Specific Countries</label>
                         <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                         <can_be_empty>1</can_be_empty>
                     </field>
                     <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                            showInStore="0">
                         <label>Sort Order</label>
                     </field>
                 </group>
             </section>-->
        <!-- Payment Config Settings-->
        <!-- <section id="payment">
             <group id="onecode_shopflix_payment" translate="label" type="text" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                 <label><![CDATA[Onecode ShopFlix Payment]]></label>
                 <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                        showInStore="0" canRestore="1">
                     <label><![CDATA[Enabled]]></label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                 </field>
                 <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                        showInStore="1" canRestore="1">
                     <label><![CDATA[Title]]></label>
                 </field>
                 <field id="instructions" translate="label" type="textarea" sortOrder="62" showInDefault="1"
                        showInWebsite="1" showInStore="1">
                     <label>Instructions</label>
                 </field>
                 <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                        showInStore="0">
                     <label><![CDATA[Sort Order]]></label>
                     <frontend_class>validate-number</frontend_class>
                 </field>
                 <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1"
                        showInWebsite="1" showInStore="0" canRestore="1">
                     <label><![CDATA[New Order Status]]></label>
                     <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                 </field>
                 <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1"
                        showInWebsite="1" showInStore="0" canRestore="1">
                     <label><![CDATA[Payment from Applicable Countries]]></label>
                     <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                 </field>
                 <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1"
                        showInWebsite="1" showInStore="0">
                     <label><![CDATA[Payment from Specific Countries]]></label>
                     <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                     <can_be_empty>1</can_be_empty>
                 </field>
             </group>
         </section>-->
    </system>
</config>
